<!--The content below is only a placeholder and can be replaced.-->
<h3> I'm in the AppComponent!</h3>
<hr>
<app-server></app-server>

<br>
<div class="titleBox">
  <h4>Don't Starve's Recipes</h4>
</div>

<div style="border: 2px yellow dashed; display: flex; flex-direction: column">
  <div class="flexContainer" style="height: auto; min-width: 550px; ">

    <!--Meat ingredients box-->
    <div class="flexTypeBox" style="align-items: center">
      <div>
        Meat
      </div>

      <div class="flexContainer" style="width: 100%; ">
        <div class="IngredientBox"> </div>
        <div class="IngredientBox"> </div>
        <div class="IngredientBox"> </div>
        <div class="IngredientBox"> </div>
        <div class="IngredientBox"> </div>
        <div class="IngredientBox"> </div>
        <div class="IngredientBox"> </div>
        <div class="IngredientBox"> </div>
        <div class="IngredientBox"> </div>
        <div class="IngredientBox"> </div>
      </div>

    </div>
    <div class="flexTypeBox" style="align-items: center">
      <div>
        Monster Food
      </div>

      <div class="flexContainer" style="width: 100%; ">
        <div class="IngredientBox"> </div>
        <div class="IngredientBox"> </div>
        <div class="IngredientBox"> </div>
        <div class="IngredientBox"> </div>
        <div class="IngredientBox"> </div>
        <div class="IngredientBox"> </div>
        <div class="IngredientBox"> </div>
        <div class="IngredientBox"> </div>
        <div class="IngredientBox"> </div>
        <div class="IngredientBox"> </div>
      </div>

    </div>
    <div class="flexTypeBox" style="align-items: center">
      <div>
        Fruits
      </div>

      <div class="flexContainer" style="width: 100%; ">
        <div class="IngredientBox" >
        </div>
        <div class="IngredientBox"> </div>
        <div class="IngredientBox"> </div>
        <div class="IngredientBox"> </div>
        <div class="IngredientBox"> </div>
        <div class="IngredientBox"> </div>
        <div class="IngredientBox"> </div>
        <div class="IngredientBox"> </div>
        <div class="IngredientBox"> </div>
        <div class="IngredientBox"> </div>
      </div>

    </div>
    <div class="flexTypeBox" style="align-items: center">
      <div>
        Vegetables
      </div>

      <div class="flexContainer" style="width: 100%;">
        <div class="IngredientBox">
          <img src="DSR/Veges/Carrot.jpg" height="48" width="48"/>
          Carrot
        </div>

        <div class="IngredientBox"> </div>
        <div class="IngredientBox"> </div>
        <div class="IngredientBox"> </div>
        <div class="IngredientBox"> </div>
      </div>

    </div>
  </div>


  <br>
  <br>
  <br>
  <br>

  <div class="flexContainer" style="height: 100px; width: 500px">

  </div>
</div>


