@import "~bootstrap/dist/css/bootstrap.css";



.titleBox {
  display: flex;
  justify-content: center;
}

.materialsTable {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  min-width: 600px;
  padding: 20px 50px;
}

.oneIngredientBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: auto;
}
